body{
    background-color: rgba(235, 235, 235, 0.5);
    padding:0;
    margin: 0;
}
.content{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border: 2px solid rgba(155, 155, 155, .5);
    border-radius:5px;
}

.content .header, .content .product{
    width: 100%;
    background-color:transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid rgba(185, 185, 185, .5);
    font-size: 1.3em;
    font-weight: bold;
}

.content .product{
    font-size: 1.2em;
    border: none;
    font-weight: normal;
}


#edit, #delete{
    color: rgba(50, 50, 50, 1);
    text-decoration: none;
    border: 2px solid black;
    border-radius:4px;
    cursor: pointer;
    padding: 2px;
    transition: .3s;
}

#edit:hover, #delete:hover{
    border: 2px solid rgba(50, 50, 50, .7);
    background-color: rgba(230, 230, 230, .7);
}