* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
  overflow-x: hidden;
  height: 100vh
}

#menu-trigger {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 20px;
  top: 10px;
  margin-right: 20px;
  right: 0;
}
.menu-trigger div {
  width: 30px;
  height: 4px;
  background: rgba(51, 51, 51, .8) none repeat scroll 0% 0%;
  margin-top: 3px;
}

#check {
  display: none;
  background-color: #f00;
}

.barra {
  background-color: rgba(220, 220, 220, .8);
  width: 300px;
  position: fixed;
  right: -300px;
  transition: all .2s linear;
}

.barra .link, nav h3 {
  font-weight: bold;
  list-style: none;
  background-color: #f1f1f1;
}

nav {
  width: 100%;
  position: fixed;
}

nav h3{
  padding: 20px 0 10px 0;
}

nav a {
  text-decoration: none;
}

.link {
  color: rgba(51, 51, 51, .8);
  font-family: 'Arial';
  font-size: 12pt;
  padding: 20px;
  border-bottom: 2px solid #222;
  transition: all .2s linear;
  opacity: 0;
  margin-top: 200px;
}

.link:hover {
  background-color: rgba(200, 200, 210, 1);
}

#check:checked~.barra nav a .link {
  opacity: 1;
  margin-top: 0;
  transition-delay: .2s;
}

#check:checked~.barra {
  transform: translateX(-300px);
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header .logo {
  font-size: 25px;
  font-weight: bold;
}